body {
    background-color: #f6fff6;
}

.navbar,
.footer {
    background-color: #218838 !important;
}

.navbar-brand,
.nav-link,
.footer-text {
    color: #fff !important;
}

.card {
    border-color: #218838;
}

.card-title {
    color: #218838;
}

.list-group-item.active {
    background-color: #218838;
    border-color: #218838;
}

.list-group-item {
    cursor: pointer;
}

.sidebar-green .nav-link {
    color: #218838 !important;
}

.sidebar-green .nav-link.active {
    font-weight: bold;
    background: #e6f9ea;
}

/* ----------------- */

.navbar-brand-centered {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    pointer-events: none;
}

p,
li {
    text-align: justify;
}

@media (max-width: 991.98px) {
    .navbar-brand-centered {
        position: static;
        width: auto;
    }
}